# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Outros arquivos temporários
*.swp
*.swo

# Não ignore o app.py e templates/
!/app.py
!/templates/
